
#channel-nav{
  top: 0px;
  left: 0px;
  position: absolute;
  height: calc(100vh - 50px);
  background-color: rgb(47, 49, 54);
  width: 225px;
  padding-left: 5px;
  padding-right: 5px;
  transform: translate(75px, 0px)
}

#channel-nav h5{
  color: white;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
}

#channel-nav-server-name{
  display: flex;
  justify-content: space-between;
  align-items: right;
  padding-left: 5px;
  padding-top: 10px;
}

.fa-chevron-down{
  color:white;
  padding-top: 5px;
  padding-right: 10px;
  font-size: 15px;
}

#edit-server-form {
  position: absolute;
  transform: translate(0px, 50px);
  z-index: 10;
}

#delete-server, #leave-server, #update-server-name, #server-update-error{
  background-color: rgb(30, 30, 30);
  width: 195px;
  text-align: left;
  font-size: 15px;
  height: 30px;
  border-style: none;
  cursor: pointer;
}

#leave-server{
  transform: translate(80px, 25px);
}

#delete-server, #update-server-name{
  border-top: .15px solid lightgray
}

#server-update-error {
  color: red;
}


#edit-server-name{
  background-color: rgb(30, 30, 30);
  color: white;
  width: 190px;
  padding-left: 5px;
  // Padding to override style sheet.
  padding-top: 0.1px;
  padding-bottom: 0.1px;
  padding-right: 0.1px;
  border-style:none;
  height: 30px;
}

#update-server-name{
  color: rgb(186,187,190)
}

#update-server-name:hover{
  color: white;
  background-color: #5865F2;
}


#delete-server, #leave-server{
  color: rgb(238, 65, 65);
}

#delete-server:hover, #leave-server:hover {
  color: white;
  background-color: rgb(238, 65, 65);
}

.list-header {
  display: flex;
  text-align: left;
  color: lightgrey; 
  padding-left: 5px;
  padding-bottom: 10px;
  padding-right: 10px;

  justify-content: space-between;
}

.channel-nav-item {
  display: flex;
  text-align: left;
  justify-content: space-between;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}

#edit-modal-container{
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh);
  width: calc(100vw);
  background-color: transparent;
  transform: translate(-75px, 0px)
}

.channel-nav-item{
  border: 1px solid rgb(48,49,54);
  border-radius: 5px;
}

.channel-nav-item:hover{
  background-color: rgb(58, 60, 67);
}

.channel-nav-item a{
  border-radius: 5px;
  text-decoration: none;
  color: rgb(145,145,145);
}



// Padding for Font Asweome Icons
.fa-plus { 
  padding-top: 2px;
}
.channel-nav-item .fa-gear{
  padding-top: 10px;
  padding-right: 6px;
  padding-left: 0px;
  padding-bottom: 0px;
}

#channel-nav-list .fa-hashtag{
  padding-left: 10px; 
  padding-right: 10px;
}

// Modals for Channel Edit

.channel-edit-modal{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(10, 10, 10, .9);
}

#double-channel-modal-container {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  transform: translate(-75px, 0px)
}
// Channel Edit Form
#channel-form{
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(calc(50vw - 200px), calc(40vh - 100px));
  width: 400px;
  height: 300px;
  background: rgb(55,57,62);
  border: 1px solid rgb(55,57,62);
  border-radius: 5px;
  color: black; 
  z-index: 10;
}

// Channel Edit Form Components
#channel-form-header h5{
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  padding-top: 10px;
  padding-bottom: 5px;
}

#channel-form-header p{
  text-align: center;
  font-size: 14px;
  padding-bottom: 15px;
  color: rgb(180,180,180)
}

#channel-form-name, #channel-error-name{
  font-size: 14px;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 10px;
  font-weight: bold;
  text-align: left;
}

#channel-form-name{
  color: rgb(200, 200, 200);
}

#channel-error-name{
  color: red;
}

#channel-form-name-input{
    color: rgb(225, 225, 225);
    background-color: transparent;
    height: 20px;
    font-size: 15px;
    outline: none;
    color: rgb(225, 225, 225);
    width: 90%;
}

#channel-form-name-input:focus{
  outline: none;
}

#channel-form-name-input-container{
  border: 0.75px solid black;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(49, 51, 56);
  height: 28.5px;
  font-size: 15px;
  color: rgb(225, 225, 225);
  border-radius: 3px;
  width: 358.5px;
  margin-left: 15px;
}


#channel-delete-button{
  margin-left: 15px;
  width: 360px;
  background-color: transparent;
  color: rgb(238, 65, 65);
  outline: none;
  border: 1px solid black ;
  border-radius: 3px;
  height: 30px;
	background:none;
  cursor:pointer;
}

#channel-delete-button:hover{
  color: white;
  background-color: rgb(238, 65, 65);
}

#channel-edit-submit:hover {
  filter: brightness(80%);
}

#channel-edit-submit{
  text-align: center;
  margin: 15px;
  width: 360px;
  background-color: #5865F2;
  border: 0.75px solid #5865F2;
  border-radius: 3px;
  color: white;
  height: 30px;
  cursor: pointer;
}

#channel-exit-x{
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(calc(50vw + 180px), calc(40vh - 100px));
  z-index: 12;
  border: none;
  font-size: 20px;
  background-color: transparent;
}
