
#user-nav{
  height: 40px;
  display: flex;
  justify-content: space-between;
  width: 225px;
  background-color: rgb(40, 42, 46);
  padding: 5px;
  position: absolute;
  transform: translate(75px, calc(100vh - 50px));
}

.fa-microphone, .fa-headphones{
  color: lightgrey;
  padding: 8px;
  padding-top: 10px;
}

.fa-gear{
  color: lightgrey;
  padding-top: 10px;
  padding: 6px;
}

#username{
  display: flex;
}

#username h2{
  color: white;
  font-size: 12px;
  font-weight: bold
}

#user-text{
  padding-left: 10px;
  width: 90px;
  overflow-x: auto;
  overflow-y: auto;
}

#user-text::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: rgb(40,42,46);
}

#username p{
  font-size: 10px;
  color: lightgrey; 
}

#setting-icons a{
  text-decoration: none;
  width: 16px;
}

#setting-icons a:hover{
  filter: brightness(85%);
}