

#user-nav{
  height: 40px;
  display: flex;
  justify-content: space-between;
  width: 225px;
  background-color: rgb(40, 42, 46);
  padding: 5px;
}

.fa-microphone, .fa-headphones, .fa-gear{
  color: lightgrey;
  padding: 8px;
  padding-top: 10px;
}

#username h2{
  color: white;
  font-size: 12px;
  font-weight: bold
}

#username p{
  font-size: 10px;
  color: lightgrey; 
}
