#user-profile{
  width: 100vw;
  height: 100vh;
  background-color: rgb(56, 57, 62);
}

#user-top{
  background-color: rgb(56, 57, 62) ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}


#user-top h3{
  font-size: 18px;
  font-weight: bold;
  color: white;
}

#escape{
  padding-top: 5px;
}

#user-exit-x{
  display: flex;
  width: 30px; 
  height: 30px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(186,186,186);
  color: white;
}

#home-link{
  text-decoration: none;
  color: white;
}


#esc{
  margin-left: 4px;
  color: lightgrey;
  font-size: 14px;
}


#user-profile-content { 
  background-color: rgb(47, 49, 54);
  border: 0.75px solid rgb(47, 49, 54);
  border-radius: 3px;
  color: lightgray;
  width: 400px;
  height: 300px;
  padding: 10px;
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(30vw, 30vh);
}

#user-update input {
  color: rgb(225, 225, 225);
  background-color: transparent;
  width: 80%
}

#user-update input:focus{
  outline: none;
}
#update-user-button {
  text-align: center;
  width: 100%;
  background-color: #5865F2;
  border: 0.75px solid #5865F2;
  border-radius: 3px;
  color: white;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 5px;
  cursor: pointer;
}

#update-user-button:hover{
  filter: brightness(85%);
}

#delete-user{
  background-color: transparent;
  color: red;
  border: 1px solid red;
  cursor: pointer;
}

#delete-user:hover{
  background-color: rgb(238, 65, 65);
  color: white;
}

#leave-buttons{
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

#logout-button{
  background-color: transparent;
  color: rgb(225,225,225);
  outline: none;
  border: none;
  cursor: pointer;
}

#logout-button:hover{
  filter: brightness(90%)
}

.fa-arrow-right{
  background-color: rgb(225, 225, 225);
  color: rgb(56,57,62)
}
